<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
     <form method="POST" action="/listings/<%=listing._id%>?_method=PUT">
        <h2>Edit Your Listing</h2>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" value="<%=listing.title%>" name="Listing[title]" class="form-control">
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">description</label>
            <textarea class="form-control" name="Listing[description]"><%=listing.description%> </textarea>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input type="text" value="<%=listing.image%>" name="Listing[image]" class="form-control">
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" value="<%=listing.price%>" name="Listing[price]" class="form-control">
        </div>
            </div>
            <div class="col-md-8">
                <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" value="<%=listing.country%>"name="Listing[country]" class="form-control">
        </div>
            </div>
        </div>
        
        
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" value="<%=listing.location%>" name="Listing[location]" class="form-control">
        </div>
        
        <br><br>
        <button  class="btn btn-dark mt-3" >Edit me</button>
    </form>
    </div>
    </div>
</body>
